{% extends 'users/emails/base.html' -%}
{% block content %}
{% trans link='', faq='https://support.mozilla.org/en-US/kb/use-firefox-accounts-manage-your-marketplace-apps' %}
<p>Dear Firefox Marketplace user,</p>

<p>Firefox Marketplace has switched to Firefox Accounts to offer a more integrated experience across all Mozilla services and products. Having a Firefox Account lets you access your existing Marketplace apps and seamlessly enjoy your apps on multiple devices, with more services coming soon.</p>

<p>Updating your account is easy, simply sign in and verify your account. <a href="{{ link }}">Click here to get started</a>. (note: you’ll be prompted to create a new password)</p>

<p>To learn more about Firefox Accounts and find detailed information on how to update your account, please refer to this article on <a href="{{ faq }}">Mozilla support</a>.</p>
{% endtrans %}
{% endblock %}
